@import 'normalize'
@import 'helper'

/* variables */
$lightgrey = #999
$linkColor = #555
$grey = #eee
$black = #222
$white = #f7f7f7

html
button
input
select
textarea 
  color: $black

a
a:visited
  color: $linkColor
  text-decoration: none

a:hover
  color: lighten($linkColor,10%)
  
body
  color: $black
  font-size: 1em
  line-height: 1.5
  
header
  background: $grey
  color:$black
  padding: 1em
  
  nav
    float:right
    user-select:none
    
  .nav-item
    float:left
    margin-left:.5em
    
    a.active
      text-decoration:underline
    
.content
  padding: 1em

.search-btn
  position: relative
  right: 16px

.search-wrapper
  width: 300px
  input
    width: 90%
article.row
  border-top: 1px solid #ccc
  padding: 10px 0
  border-bottom: 1px solid #ccc

  figure>img
    cursor: pointer;
  .property-address
    color: #0074e4
    &:hover
      color: #7bc0ff
    &.visited
      color: #640096

  .sale::before
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    cursor: pointer;
    display: inline-block;
    font-family: 'Open Sans', open-sans, Arial, 'Helvetica Neue', sans-serif;
    font-size: 10px;
    font-weight: bold;
    height: 10px;
    line-height: 10px;
    margin-right: 5px;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;
    width: 10px;
    zoom: 1;
    
#map
  height: 900px;
  .marker-popup
    width: 130px;
    color: black;
    img
      vertical-align: bottom;
    .popup-info
      margin-left: 10px;
      display: inline-block

.row .loadedContent .picture-show
  height: 368px;
  width: 550px;
  margin: 0 auto;
